<a href="https://colab.research.google.com/github/inubasfloran/machine-learning/blob/master/MachineLearning_LTSM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install KiteConnect
!pip install pandas_ta
from kiteconnect import KiteConnect
from datetime import datetime
import pandas as pd

import pandas_ta as ta
kite = KiteConnect(api_key="########")
kite.set_access_token("##########")
#https://ieeexplore.ieee.org/abstract/document/9165760/metrics#metrics
from_date = datetime.strptime('2022-05-12 9:15:00', '%Y-%m-%d %H:%M:%S')
to_date = datetime.strptime('2022-05-12 10:15:00', '%Y-%m-%d %H:%M:%S')
historical_data = kite.historical_data(instrument_token=str(6401),from_date=from_date,to_date=to_date,interval='minute', oi=True)

Requirement already satisfied: KiteConnect in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: autobahn[twisted]==19.11.2 in /usr/local/lib/python3.7/dist-packages (from KiteConnect) (19.11.2)
Requirement already satisfied: six>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from KiteConnect) (1.15.0)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.7/dist-packages (from KiteConnect) (2.23.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from KiteConnect) (2.8.2)
Requirement already satisfied: pyOpenSSL>=17.5.0 in /usr/local/lib/python3.7/dist-packages (from KiteConnect) (22.0.0)
Requirement already satisfied: service-identity>=18.1.0 in /usr/local/lib/python3.7/dist-packages (from KiteConnect) (21.1.0)
Requirement already satisfied: enum34>=1.1.6 in /usr/local/lib/python3.7/dist-packages (from KiteConnect) (1.1.10)
Requirement already satisfied: txaio>=18.8.1 in /usr/local/lib/python3.7/dist-packages (from autobahn[twisted]==19.11.2->KiteConnect) (22.2.1)
Requirement already satisfied: cryptography>=2.7 in /usr/local/lib/python3.7/dist-packages (from autobahn[twisted]==19.11.2->KiteConnect) (37.0.2)
Requirement already satisfied: zope.interface>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from autobahn[twisted]==19.11.2->KiteConnect) (5.4.0)
Requirement already satisfied: Twisted>=12.1.0 in /usr/local/lib/python3.7/dist-packages (from autobahn[twisted]==19.11.2->KiteConnect) (22.4.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=2.7->autobahn[twisted]==19.11.2->KiteConnect) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=2.7->autobahn[twisted]==19.11.2->KiteConnect) (2.21)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->KiteConnect) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->KiteConnect) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->KiteConnect) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->KiteConnect) (1.24.3)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.7/dist-packages (from service-identity>=18.1.0->KiteConnect) (21.4.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.7/dist-packages (from service-identity>=18.1.0->KiteConnect) (0.4.8)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.7/dist-packages (from service-identity>=18.1.0->KiteConnect) (0.2.8)
Requirement already satisfied: constantly>=15.1 in /usr/local/lib/python3.7/dist-packages (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->KiteConnect) (15.1.0)
Requirement already satisfied: incremental>=21.3.0 in /usr/local/lib/python3.7/dist-packages (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->KiteConnect) (21.3.0)
Requirement already satisfied: hyperlink>=17.1.1 in /usr/local/lib/python3.7/dist-packages (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->KiteConnect) (21.0.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->KiteConnect) (4.2.0)
Requirement already satisfied: Automat>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from Twisted>=12.1.0->autobahn[twisted]==19.11.2->KiteConnect) (20.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface>=3.6.0->autobahn[twisted]==19.11.2->KiteConnect) (57.4.0)

In [48]:

data = pd.DataFrame(historical_data)
data.set_index(pd.DatetimeIndex(data["date"]),inplace=True)
data.ta.sma(9,append=True)
data.ta.wma(9,append=True)
data.ta.stoch(k=14,smooth_k=1,smooth_d=3,append=True)
data=pd.concat([ta.mom(data['open'],length=10),data],axis=1)
data.ta.rsi(14,append=True)
data.ta.macd(fast=12,slow=26,signal=9,append=True)
data.ta.willr(length=14,append=True)
#Need to check about this indicator
data.ta.adosc(append=True)
data.ta.cci(20,append=True)
print(data.tail(30))

                           MOM_10                      date     open     high  \
date
2022-05-12 09:46:00+05:30    1.35 2022-05-12 09:46:00+05:30  2092.05  2092.90
2022-05-12 09:47:00+05:30    3.15 2022-05-12 09:47:00+05:30  2090.40  2094.00
2022-05-12 09:48:00+05:30   11.55 2022-05-12 09:48:00+05:30  2094.00  2097.50
2022-05-12 09:49:00+05:30   10.90 2022-05-12 09:49:00+05:30  2097.45  2097.45
2022-05-12 09:50:00+05:30   10.00 2022-05-12 09:50:00+05:30  2095.00  2097.00
2022-05-12 09:51:00+05:30    7.00 2022-05-12 09:51:00+05:30  2093.00  2097.00
2022-05-12 09:52:00+05:30    6.90 2022-05-12 09:52:00+05:30  2092.65  2095.00
2022-05-12 09:53:00+05:30    2.65 2022-05-12 09:53:00+05:30  2092.75  2097.00
2022-05-12 09:54:00+05:30    8.20 2022-05-12 09:54:00+05:30  2095.75  2098.00
2022-05-12 09:55:00+05:30    3.20 2022-05-12 09:55:00+05:30  2093.55  2094.00
2022-05-12 09:56:00+05:30   -1.65 2022-05-12 09:56:00+05:30  2090.40  2090.40
2022-05-12 09:57:00+05:30   -2.70 2022-05-12 09:57:00+05:30  2087.70  2087.80
2022-05-12 09:58:00+05:30   -9.50 2022-05-12 09:58:00+05:30  2084.50  2089.80
2022-05-12 09:59:00+05:30  -11.35 2022-05-12 09:59:00+05:30  2086.10  2090.50
2022-05-12 10:00:00+05:30   -5.00 2022-05-12 10:00:00+05:30  2090.00  2090.00
2022-05-12 10:01:00+05:30   -6.95 2022-05-12 10:01:00+05:30  2086.05  2089.15
2022-05-12 10:02:00+05:30   -3.65 2022-05-12 10:02:00+05:30  2089.00  2091.05
2022-05-12 10:03:00+05:30   -2.40 2022-05-12 10:03:00+05:30  2090.35  2091.05
2022-05-12 10:04:00+05:30   -5.35 2022-05-12 10:04:00+05:30  2090.40  2090.40
2022-05-12 10:05:00+05:30   -6.60 2022-05-12 10:05:00+05:30  2086.95  2086.95
2022-05-12 10:06:00+05:30  -11.05 2022-05-12 10:06:00+05:30  2079.35  2080.90
2022-05-12 10:07:00+05:30  -13.70 2022-05-12 10:07:00+05:30  2074.00  2075.10
2022-05-12 10:08:00+05:30  -11.50 2022-05-12 10:08:00+05:30  2073.00  2074.00
2022-05-12 10:09:00+05:30  -15.35 2022-05-12 10:09:00+05:30  2070.75  2072.25
2022-05-12 10:10:00+05:30  -19.60 2022-05-12 10:10:00+05:30  2070.40  2070.40
2022-05-12 10:11:00+05:30  -18.05 2022-05-12 10:11:00+05:30  2068.00  2068.90
2022-05-12 10:12:00+05:30  -26.00 2022-05-12 10:12:00+05:30  2063.00  2068.15
2022-05-12 10:13:00+05:30  -23.50 2022-05-12 10:13:00+05:30  2066.85  2067.25
2022-05-12 10:14:00+05:30  -23.50 2022-05-12 10:14:00+05:30  2066.90  2066.90
2022-05-12 10:15:00+05:30  -22.50 2022-05-12 10:15:00+05:30  2064.45  2064.45

                               low    close  volume  oi        SMA_9  \
date
2022-05-12 09:46:00+05:30  2089.55  2089.55    2317   0  2088.583333
2022-05-12 09:47:00+05:30  2089.35  2094.00    1837   0  2089.394444
2022-05-12 09:48:00+05:30  2094.00  2097.45    3068   0  2090.777778
2022-05-12 09:49:00+05:30  2094.00  2095.00    1561   0  2091.777778
2022-05-12 09:50:00+05:30  2093.00  2093.95    1762   0  2092.583333
2022-05-12 09:51:00+05:30  2091.65  2093.30    8479   0  2092.683333
2022-05-12 09:52:00+05:30  2091.00  2094.35    1287   0  2093.438889
2022-05-12 09:53:00+05:30  2092.00  2095.75    1797   0  2093.933333
2022-05-12 09:54:00+05:30  2092.30  2093.55    2845   0  2094.100000
2022-05-12 09:55:00+05:30  2090.30  2090.30    1052   0  2094.183333
2022-05-12 09:56:00+05:30  2085.20  2087.70    4416   0  2093.483333
2022-05-12 09:57:00+05:30  2085.45  2086.50    2540   0  2092.266667
2022-05-12 09:58:00+05:30  2084.00  2086.10    6650   0  2091.277778
2022-05-12 09:59:00+05:30  2086.10  2090.00    6770   0  2090.838889
2022-05-12 10:00:00+05:30  2085.00  2086.05    1129   0  2090.033333
2022-05-12 10:01:00+05:30  2085.00  2087.70    1131   0  2089.294444
2022-05-12 10:02:00+05:30  2088.15  2090.35    1310   0  2088.694444
2022-05-12 10:03:00+05:30  2088.70  2090.40     728   0  2088.344444
2022-05-12 10:04:00+05:30  2085.85  2086.95     821   0  2087.972222
2022-05-12 10:05:00+05:30  2078.25  2080.00   11790   0  2087.116667
2022-05-12 10:06:00+05:30  2072.00  2072.00   13480   0  2085.505556
2022-05-12 10:07:00+05:30  2067.95  2073.00   13197   0  2084.050000
2022-05-12 10:08:00+05:30  2070.75  2072.00    6160   0  2082.050000
2022-05-12 10:09:00+05:30  2066.55  2069.65    6541   0  2080.227778
2022-05-12 10:10:00+05:30  2065.15  2068.00    4576   0  2078.038889
2022-05-12 10:11:00+05:30  2062.00  2062.65    7180   0  2074.961111
2022-05-12 10:12:00+05:30  2063.00  2066.85    5455   0  2072.344444
2022-05-12 10:13:00+05:30  2064.00  2066.90    2138   0  2070.116667
2022-05-12 10:14:00+05:30  2063.00  2064.45    2552   0  2068.388889
2022-05-12 10:15:00+05:30  2058.05  2064.00    7482   0  2067.500000

                                 WMA_9  STOCHk_14_3_1  STOCHd_14_3_1  \
date
2022-05-12 09:46:00+05:30  2089.561111      50.331126      58.470504
2022-05-12 09:47:00+05:30  2090.644444      88.929889      68.070928
2022-05-12 09:48:00+05:30  2092.255556      99.678457      79.646491
2022-05-12 09:49:00+05:30  2093.100000      83.922830      90.843725
2022-05-12 09:50:00+05:30  2093.534444      77.170418      86.923901
2022-05-12 09:51:00+05:30  2093.677778      72.990354      78.027867
2022-05-12 09:52:00+05:30  2094.011111      79.742765      76.634512
2022-05-12 09:53:00+05:30  2094.473333      86.000000      79.577706
2022-05-12 09:54:00+05:30  2094.396667      65.369650      77.037472
2022-05-12 09:55:00+05:30  2093.636667      38.400000      63.256550
2022-05-12 09:56:00+05:30  2092.340000      19.531250      41.100300
2022-05-12 09:57:00+05:30  2090.943333      10.156250      22.695833
2022-05-12 09:58:00+05:30  2089.710000      15.000000      14.895833
2022-05-12 09:59:00+05:30  2089.454444      42.857143      22.671131
2022-05-12 10:00:00+05:30  2088.496667      14.642857      24.166667
2022-05-12 10:01:00+05:30  2088.030000      26.428571      27.976190
2022-05-12 10:02:00+05:30  2088.241111      45.357143      28.809524
2022-05-12 10:03:00+05:30  2088.582222      45.714286      39.166667
2022-05-12 10:04:00+05:30  2088.303333      21.071429      37.380952
2022-05-12 10:05:00+05:30  2086.708889       8.860759      25.215491
2022-05-12 10:06:00+05:30  2083.685556       0.000000       9.977396
2022-05-12 10:07:00+05:30  2081.184444      16.805324       8.555361
2022-05-12 10:08:00+05:30  2078.774444      15.547025      10.784116
2022-05-12 10:09:00+05:30  2076.294444      12.653061      15.001804
2022-05-12 10:10:00+05:30  2073.848889      11.003861      13.067982
2022-05-12 10:11:00+05:30  2070.771111       2.237522       8.631481
2022-05-12 10:12:00+05:30  2069.148889      16.695353       9.978912
2022-05-12 10:13:00+05:30  2068.060000      16.867470      11.933448
2022-05-12 10:14:00+05:30  2066.926667       8.433735      13.998853
2022-05-12 10:15:00+05:30  2066.048889      18.030303      14.443836

                              RSI_14  MACD_12_26_9  MACDh_12_26_9  \
date
2022-05-12 09:46:00+05:30  46.568426     -2.848039            NaN
2022-05-12 09:47:00+05:30  52.241185     -2.292964            NaN
2022-05-12 09:48:00+05:30  56.129922     -1.556732       1.945662
2022-05-12 09:49:00+05:30  52.839544     -1.157613       1.875825
2022-05-12 09:50:00+05:30  51.447592     -0.915481       1.694365
2022-05-12 09:51:00+05:30  50.559664     -0.767196       1.474120
2022-05-12 09:52:00+05:30  52.000808     -0.558515       1.346242
2022-05-12 09:53:00+05:30  53.929115     -0.276972       1.302227
2022-05-12 09:54:00+05:30  50.496073     -0.228732       1.080374
2022-05-12 09:55:00+05:30  45.852383     -0.447590       0.689213
2022-05-12 09:56:00+05:30  42.486269     -0.821367       0.252349
2022-05-12 09:57:00+05:30  40.990573     -1.200578      -0.101490
2022-05-12 09:58:00+05:30  40.479022     -1.515908      -0.333456
2022-05-12 09:59:00+05:30  47.374858     -1.434574      -0.201698
2022-05-12 10:00:00+05:30  42.059874     -1.669603      -0.349381
2022-05-12 10:01:00+05:30  44.843570     -1.703092      -0.306296
2022-05-12 10:02:00+05:30  49.075295     -1.498525      -0.081383
2022-05-12 10:03:00+05:30  49.154560     -1.317186       0.079965
2022-05-12 10:04:00+05:30  44.058683     -1.435314      -0.030531
2022-05-12 10:05:00+05:30  35.968965     -2.065924      -0.528912
2022-05-12 10:06:00+05:30  29.299988     -3.174624      -1.310091
2022-05-12 10:07:00+05:30  31.021615     -3.927314      -1.650224
2022-05-12 10:08:00+05:30  30.228883     -4.552045      -1.819964
2022-05-12 10:09:00+05:30  28.392679     -5.177096      -1.956012
2022-05-12 10:10:00+05:30  27.145861     -5.739434      -2.014680
2022-05-12 10:11:00+05:30  23.536768     -6.541386      -2.253305
2022-05-12 10:12:00+05:30  31.262960     -6.760107      -1.977622
2022-05-12 10:13:00+05:30  31.351889     -6.850443      -1.654366
2022-05-12 10:14:00+05:30  29.348253     -7.038593      -1.474013
2022-05-12 10:15:00+05:30  28.981888     -7.141690      -1.261688

                           MACDs_12_26_9    WILLR_14   ADOSC_3_10  \
date
2022-05-12 09:46:00+05:30            NaN  -49.668874  -932.152718
2022-05-12 09:47:00+05:30            NaN  -11.070111  -197.078099
2022-05-12 09:48:00+05:30      -3.502394   -0.321543  1069.841346
2022-05-12 09:49:00+05:30      -3.033438  -16.077170  1282.117939
2022-05-12 09:50:00+05:30      -2.609847  -22.829582   958.068097
2022-05-12 09:51:00+05:30      -2.241317  -27.009646  -295.355680
2022-05-12 09:52:00+05:30      -1.904756  -20.257235  -504.856936
2022-05-12 09:53:00+05:30      -1.579199  -14.000000  -258.779547
2022-05-12 09:54:00+05:30      -1.309106  -34.630350  -642.783878
2022-05-12 09:55:00+05:30      -1.136803  -61.600000 -1076.168933
2022-05-12 09:56:00+05:30      -1.073716  -80.468750 -1209.671238
2022-05-12 09:57:00+05:30      -1.099088  -89.843750 -1240.292494
2022-05-12 09:58:00+05:30      -1.182452  -85.000000 -1723.764568
2022-05-12 09:59:00+05:30      -1.232876  -57.142857  -100.317935
2022-05-12 10:00:00+05:30      -1.320222  -85.357143   364.587318
2022-05-12 10:01:00+05:30      -1.396796  -73.571429   630.024191
2022-05-12 10:02:00+05:30      -1.417142  -54.642857   896.932687
2022-05-12 10:03:00+05:30      -1.397150  -54.285714  1028.080290
2022-05-12 10:04:00+05:30      -1.404783  -78.928571   853.350157
2022-05-12 10:05:00+05:30      -1.537011  -91.139241 -1537.901996
2022-05-12 10:06:00+05:30      -1.864534 -100.000000 -6665.423150
2022-05-12 10:07:00+05:30      -2.277090  -83.194676 -6424.624582
2022-05-12 10:08:00+05:30      -2.732081  -84.452975 -6194.366989
2022-05-12 10:09:00+05:30      -3.221084  -87.346939 -5354.482633
2022-05-12 10:10:00+05:30      -3.724754  -88.996139 -4399.322430
2022-05-12 10:11:00+05:30      -4.288080  -97.762478 -5462.760519
2022-05-12 10:12:00+05:30      -4.782486  -83.304647 -4541.773511
2022-05-12 10:13:00+05:30      -5.196077  -83.132530 -3218.365151
2022-05-12 10:14:00+05:30      -5.564580  -91.566265 -2592.597299
2022-05-12 10:15:00+05:30      -5.880002  -81.969697   -55.051322

                           CCI_20_0.015
date
2022-05-12 09:46:00+05:30     15.491453
2022-05-12 09:47:00+05:30     72.377351
2022-05-12 09:48:00+05:30    177.497461
2022-05-12 09:49:00+05:30    140.239488
2022-05-12 09:50:00+05:30    109.513769
2022-05-12 09:51:00+05:30     85.281981
2022-05-12 09:52:00+05:30     71.002809
2022-05-12 09:53:00+05:30    102.471440
2022-05-12 09:54:00+05:30     84.999030
2022-05-12 09:55:00+05:30     16.217111
2022-05-12 09:56:00+05:30    -65.883513
2022-05-12 09:57:00+05:30    -97.252861
2022-05-12 09:58:00+05:30    -98.940065
2022-05-12 09:59:00+05:30    -56.310540
2022-05-12 10:00:00+05:30   -101.674052
2022-05-12 10:01:00+05:30    -96.051492
2022-05-12 10:02:00+05:30    -32.068863
2022-05-12 10:03:00+05:30    -27.194524
2022-05-12 10:04:00+05:30    -78.007676
2022-05-12 10:05:00+05:30   -182.717962
2022-05-12 10:06:00+05:30   -249.847294
2022-05-12 10:07:00+05:30   -236.568249
2022-05-12 10:08:00+05:30   -196.135544
2022-05-12 10:09:00+05:30   -183.765538
2022-05-12 10:10:00+05:30   -159.749016
2022-05-12 10:11:00+05:30   -155.161172
2022-05-12 10:12:00+05:30   -122.051477
2022-05-12 10:13:00+05:30   -105.739962
2022-05-12 10:14:00+05:30   -101.428042
2022-05-12 10:15:00+05:30   -106.933195

In [49]:
#Step2 - Change indicators to 0 and 1
data = data.dropna()
import numpy as np

data['BI_SMA_9'] = np.where(data['close'] < data['SMA_9'] , -1 , 1 )
data['BI_WMA_9'] = np.where(data['close'] < data['WMA_9'] , -1 , 1 )
data['BI_MOM_10'] = np.where(data['MOM_10'] < 0 , -1 , 1 )
data['BI_STOCHk_14_3_1'] = np.where(data['STOCHk_14_3_1' ] < data['STOCHk_14_3_1'].shift() , -1 , 1)
data['BI_STOCHd_14_3_1'] = np.where(data['STOCHd_14_3_1' ] < data['STOCHd_14_3_1'].shift() , -1 , 1)
data['BI_WILLR_14'] = np.where(data['WILLR_14' ] < data['WILLR_14'].shift() , -1 , 1)
data['BI_MACD_12_26_9'] = np.where(data['MACD_12_26_9' ] < data['MACD_12_26_9'].shift() , -1 , 1)
data['BI_ADOSC_3_10'] = np.where(data['ADOSC_3_10' ] < data['ADOSC_3_10'].shift() , -1 , 1)
data['BI_RSI_14'] = np.select([(data['RSI_14' ] >= 70) ,(data['RSI_14'] <= 30) , (data['RSI_14']  > 30) & (data['RSI_14'] < 70) 
& (data['RSI_14'] < data['RSI_14'].shift()) , (data['RSI_14']  > 30) & (data['RSI_14'] < 70) & (data['RSI_14'] > data['RSI_14'].shift()) ] , [-1 , 1 , -1 , 1]  )
data['BI_CCI_20_0.015'] = np.select([(data['CCI_20_0.015'] > 200) ,(data['CCI_20_0.015'] < -200) 
, ((data['CCI_20_0.015'] < 200) & (data['CCI_20_0.015'] > -200) & (data['CCI_20_0.015'] < data['CCI_20_0.015'].shift())  )
, ((data['CCI_20_0.015'] < 200) & (data['CCI_20_0.015'] > -200) & (data['CCI_20_0.015'] > data['CCI_20_0.015'].shift())  ) ] , [-1 , +1 , -1 , +1])

data[['close','BI_SMA_9','BI_WMA_9','BI_MOM_10','BI_STOCHk_14_3_1','BI_STOCHd_14_3_1','BI_WILLR_14','BI_ADOSC_3_10','BI_RSI_14','BI_CCI_20_0.015']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,close,BI_SMA_9,BI_WMA_9,BI_MOM_10,BI_STOCHk_14_3_1,BI_STOCHd_14_3_1,BI_WILLR_14,BI_ADOSC_3_10,BI_RSI_14,BI_CCI_20_0.015
date,,,,,,,,,,
2022-05-12 09:48:00+05:30,2097.45,1,1,1,1,1,1,1,0,0
2022-05-12 09:49:00+05:30,2095.00,1,1,1,-1,1,-1,1,-1,-1
2022-05-12 09:50:00+05:30,2093.95,1,1,1,-1,-1,-1,-1,-1,-1
2022-05-12 09:51:00+05:30,2093.30,1,-1,1,-1,-1,-1,-1,-1,-1
2022-05-12 09:52:00+05:30,2094.35,1,1,1,1,-1,1,-1,1,-1
2022-05-12 09:53:00+05:30,2095.75,1,1,1,1,1,1,1,1,1
2022-05-12 09:54:00+05:30,2093.55,-1,-1,1,-1,-1,-1,-1,-1,-1
2022-05-12 09:55:00+05:30,2090.30,-1,-1,1,-1,-1,-1,-1,-1,-1
2022-05-12 09:56:00+05:30,2087.70,-1,-1,-1,-1,-1,-1,-1,-1,-1
2022-05-12 09:57:00+05:30,2086.50,-1,-1,-1,-1,-1,-1,-1,-1,-1
2022-05-12 09:58:00+05:30,2086.10,-1,-1,-1,1,-1,1,-1,-1,-1
2022-05-12 09:59:00+05:30,2090.00,-1,1,-1,1,1,1,1,1,1
2022-05-12 10:00:00+05:30,2086.05,-1,-1,-1,-1,1,-1,1,-1,-1
2022-05-12 10:01:00+05:30,2087.70,-1,-1,-1,1,1,1,1,1,1
2022-05-12 10:02:00+05:30,2090.35,1,1,-1,1,1,1,1,1,1
2022-05-12 10:03:00+05:30,2090.40,1,1,-1,1,1,1,1,1,1
2022-05-12 10:04:00+05:30,2086.95,-1,-1,-1,-1,-1,-1,-1,-1,-1
2022-05-12 10:05:00+05:30,2080.00,-1,-1,-1,-1,-1,-1,-1,-1,-1
2022-05-12 10:06:00+05:30,2072.00,-1,-1,-1,-1,-1,-1,-1,1,1
2022-05-12 10:07:00+05:30,2073.00,-1,-1,-1,1,-1,1,1,1,1
2022-05-12 10:08:00+05:30,2072.00,-1,-1,-1,-1,1,-1,1,-1,1
2022-05-12 10:09:00+05:30,2069.65,-1,-1,-1,-1,1,-1,1,1,1
2022-05-12 10:10:00+05:30,2068.00,-1,-1,-1,-1,-1,-1,1,1,1
2022-05-12 10:11:00+05:30,2062.65,-1,-1,-1,-1,-1,-1,-1,1,1
2022-05-12 10:12:00+05:30,2066.85,-1,-1,-1,1,1,1,1,1,1
2022-05-12 10:13:00+05:30,2066.90,-1,-1,-1,1,1,1,1,1,1
2022-05-12 10:14:00+05:30,2064.45,-1,-1,-1,-1,1,-1,1,1,1
2022-05-12 10:15:00+05:30,2064.00,-1,-1,-1,1,1,1,1,1,-1