<a href="https://colab.research.google.com/github/inubasfloran/machine-learning/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install KiteConnect
from kiteconnect import KiteConnect
from datetime import datetime
import pandas as pd


from_date = datetime.strptime('2022-05-12 9:15:00', '%Y-%m-%d %H:%M:%S')
to_date = datetime.strptime('2022-05-12 10:15:00', '%Y-%m-%d %H:%M:%S')
historical_data = kite.historical_data(instrument_token=str(6401),from_date=from_date,to_date=to_date,interval='minute', oi=True)

In [26]:
data = pd.DataFrame(historical_data)
data.set_index(pd.DatetimeIndex(data["date"]),inplace=True)
print (data)

                                               date     open     high  \
date
2022-05-12 09:15:00+05:30 2022-05-12 09:15:00+05:30  2103.00  2105.90
2022-05-12 09:16:00+05:30 2022-05-12 09:16:00+05:30  2105.05  2112.20
2022-05-12 09:17:00+05:30 2022-05-12 09:17:00+05:30  2112.00  2112.00
2022-05-12 09:18:00+05:30 2022-05-12 09:18:00+05:30  2098.00  2098.00
2022-05-12 09:19:00+05:30 2022-05-12 09:19:00+05:30  2093.00  2101.95
...                                             ...      ...      ...
2022-05-12 10:11:00+05:30 2022-05-12 10:11:00+05:30  2068.00  2068.90
2022-05-12 10:12:00+05:30 2022-05-12 10:12:00+05:30  2063.00  2068.15
2022-05-12 10:13:00+05:30 2022-05-12 10:13:00+05:30  2066.85  2067.25
2022-05-12 10:14:00+05:30 2022-05-12 10:14:00+05:30  2066.90  2066.90
2022-05-12 10:15:00+05:30 2022-05-12 10:15:00+05:30  2064.45  2064.45

                               low    close  volume  oi
date
2022-05-12 09:15:00+05:30  2086.85  2105.35   21924   0
2022-05-12 09:16:00+05:30  2102.70  2112.00   15944   0
2022-05-12 09:17:00+05:30  2092.90  2096.70    9498   0
2022-05-12 09:18:00+05:30  2091.25  2093.00    8168   0
2022-05-12 09:19:00+05:30  2090.00  2099.90   11953   0
...                            ...      ...     ...  ..
2022-05-12 10:11:00+05:30  2062.00  2062.65    7180   0
2022-05-12 10:12:00+05:30  2063.00  2066.85    5455   0
2022-05-12 10:13:00+05:30  2064.00  2066.90    2138   0
2022-05-12 10:14:00+05:30  2063.00  2064.45    2552   0
2022-05-12 10:15:00+05:30  2058.05  2064.00    7482   0

[61 rows x 7 columns]

In [36]:
#!pip install pandas_ta
import pandas_ta as ta
data =data.join(data.ta.sma(9))

In [38]:
data.head

<bound method NDFrame.head of                                                date     open     high  \
date
2022-05-12 09:15:00+05:30 2022-05-12 09:15:00+05:30  2103.00  2105.90
2022-05-12 09:16:00+05:30 2022-05-12 09:16:00+05:30  2105.05  2112.20
2022-05-12 09:17:00+05:30 2022-05-12 09:17:00+05:30  2112.00  2112.00
2022-05-12 09:18:00+05:30 2022-05-12 09:18:00+05:30  2098.00  2098.00
2022-05-12 09:19:00+05:30 2022-05-12 09:19:00+05:30  2093.00  2101.95
...                                             ...      ...      ...
2022-05-12 10:11:00+05:30 2022-05-12 10:11:00+05:30  2068.00  2068.90
2022-05-12 10:12:00+05:30 2022-05-12 10:12:00+05:30  2063.00  2068.15
2022-05-12 10:13:00+05:30 2022-05-12 10:13:00+05:30  2066.85  2067.25
2022-05-12 10:14:00+05:30 2022-05-12 10:14:00+05:30  2066.90  2066.90
2022-05-12 10:15:00+05:30 2022-05-12 10:15:00+05:30  2064.45  2064.45

                               low    close  volume  oi    SMA_5        SMA_9
date
2022-05-12 09:15:00+05:30  2086.85  2105.35   21924   0      NaN          NaN
2022-05-12 09:16:00+05:30  2102.70  2112.00   15944   0      NaN          NaN
2022-05-12 09:17:00+05:30  2092.90  2096.70    9498   0      NaN          NaN
2022-05-12 09:18:00+05:30  2091.25  2093.00    8168   0      NaN          NaN
2022-05-12 09:19:00+05:30  2090.00  2099.90   11953   0  2101.39          NaN
...                            ...      ...     ...  ..      ...          ...
2022-05-12 10:11:00+05:30  2062.00  2062.65    7180   0  2069.06  2074.961111
2022-05-12 10:12:00+05:30  2063.00  2066.85    5455   0  2067.83  2072.344444
2022-05-12 10:13:00+05:30  2064.00  2066.90    2138   0  2066.81  2070.116667
2022-05-12 10:14:00+05:30  2063.00  2064.45    2552   0  2065.77  2068.388889
2022-05-12 10:15:00+05:30  2058.05  2064.00    7482   0  2064.97  2067.500000

[61 rows x 9 columns]>