<a href="https://colab.research.google.com/github/inubasfloran/machine-learning/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install KiteConnect
from kiteconnect import KiteConnect
from datetime import datetime
import pandas as pd


from_date = datetime.strptime('2022-05-12 9:15:00', '%Y-%m-%d %H:%M:%S')
to_date = datetime.strptime('2022-05-12 10:15:00', '%Y-%m-%d %H:%M:%S')
historical_data = kite.historical_data(instrument_token=str(6401),from_date=from_date,to_date=to_date,interval='minute', oi=True)

In [119]:
data = pd.DataFrame(historical_data)
data.set_index(pd.DatetimeIndex(data["date"]),inplace=True)
data.ta.sma(9,append=True)
data.ta.wma(9,append=True)

data.ta.stoch(k=14,smooth_k=1,smooth_d=3,append=True)
pd.concat([ta.mom(data['open'],length=10),data],axis=1).tail(20)

,MOM_10,date,open,high,low,close,volume,oi,SMA_9,WMA_9,STOCHk_14_3_1,STOCHd_14_3_1
date,,,,,,,,,,,,
2022-05-12 09:56:00+05:30,-1.65,2022-05-12 09:56:00+05:30,2090.40,2090.40,2085.20,2087.70,4416,0,2093.483333,2092.340000,19.531250,41.100300
2022-05-12 09:57:00+05:30,-2.70,2022-05-12 09:57:00+05:30,2087.70,2087.80,2085.45,2086.50,2540,0,2092.266667,2090.943333,10.156250,22.695833
2022-05-12 09:58:00+05:30,-9.50,2022-05-12 09:58:00+05:30,2084.50,2089.80,2084.00,2086.10,6650,0,2091.277778,2089.710000,15.000000,14.895833
2022-05-12 09:59:00+05:30,-11.35,2022-05-12 09:59:00+05:30,2086.10,2090.50,2086.10,2090.00,6770,0,2090.838889,2089.454444,42.857143,22.671131
2022-05-12 10:00:00+05:30,-5.00,2022-05-12 10:00:00+05:30,2090.00,2090.00,2085.00,2086.05,1129,0,2090.033333,2088.496667,14.642857,24.166667
2022-05-12 10:01:00+05:30,-6.95,2022-05-12 10:01:00+05:30,2086.05,2089.15,2085.00,2087.70,1131,0,2089.294444,2088.030000,26.428571,27.976190
2022-05-12 10:02:00+05:30,-3.65,2022-05-12 10:02:00+05:30,2089.00,2091.05,2088.15,2090.35,1310,0,2088.694444,2088.241111,45.357143,28.809524
2022-05-12 10:03:00+05:30,-2.40,2022-05-12 10:03:00+05:30,2090.35,2091.05,2088.70,2090.40,728,0,2088.344444,2088.582222,45.714286,39.166667
2022-05-12 10:04:00+05:30,-5.35,2022-05-12 10:04:00+05:30,2090.40,2090.40,2085.85,2086.95,821,0,2087.972222,2088.303333,21.071429,37.380952
2022-05-12 10:05:00+05:30,-6.60,2022-05-12 10:05:00+05:30,2086.95,2086.95,2078.25,2080.00,11790,0,2087.116667,2086.708889,8.860759,25.215491
2022-05-12 10:06:00+05:30,-11.05,2022-05-12 10:06:00+05:30,2079.35,2080.90,2072.00,2072.00,13480,0,2085.505556,2083.685556,0.000000,9.977396
2022-05-12 10:07:00+05:30,-13.70,2022-05-12 10:07:00+05:30,2074.00,2075.10,2067.95,2073.00,13197,0,2084.050000,2081.184444,16.805324,8.555361
2022-05-12 10:08:00+05:30,-11.50,2022-05-12 10:08:00+05:30,2073.00,2074.00,2070.75,2072.00,6160,0,2082.050000,2078.774444,15.547025,10.784116
2022-05-12 10:09:00+05:30,-15.35,2022-05-12 10:09:00+05:30,2070.75,2072.25,2066.55,2069.65,6541,0,2080.227778,2076.294444,12.653061,15.001804
2022-05-12 10:10:00+05:30,-19.60,2022-05-12 10:10:00+05:30,2070.40,2070.40,2065.15,2068.00,4576,0,2078.038889,2073.848889,11.003861,13.067982
2022-05-12 10:11:00+05:30,-18.05,2022-05-12 10:11:00+05:30,2068.00,2068.90,2062.00,2062.65,7180,0,2074.961111,2070.771111,2.237522,8.631481
2022-05-12 10:12:00+05:30,-26.00,2022-05-12 10:12:00+05:30,2063.00,2068.15,2063.00,2066.85,5455,0,2072.344444,2069.148889,16.695353,9.978912
2022-05-12 10:13:00+05:30,-23.50,2022-05-12 10:13:00+05:30,2066.85,2067.25,2064.00,2066.90,2138,0,2070.116667,2068.060000,16.867470,11.933448
2022-05-12 10:14:00+05:30,-23.50,2022-05-12 10:14:00+05:30,2066.90,2066.90,2063.00,2064.45,2552,0,2068.388889,2066.926667,8.433735,13.998853
2022-05-12 10:15:00+05:30,-22.50,2022-05-12 10:15:00+05:30,2064.45,2064.45,2058.05,2064.00,7482,0,2067.500000,2066.048889,18.030303,14.443836